<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Inserisco il fragment per i tag dell'head-->
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Create</title>
</head>

<body>
    <div class="container">
        <div class="row" th:object="${pizza}">
            <div class="col-12">
                <h1 class="text-center p-4">Aggiungi una nuova pizza al menu</h1>
                <div class="row justify-content-center">
                    <!--Inserisco il fragment per il form-->
                    <div th:replace="~{fragments/resources :: form('/pizze/create', 'post')}"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>