<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Inserisco il fragment per i tag dell'head-->
    <div th:replace="~{fragments/resources :: headTags}"></div>
    <title>Edit</title>
</head>

<body>
    <header>
        <h1 class="text-center p-4">Aggiorna una pizza del menu</h1>
    </header>

    <main>
        <div class="container">
            <div class="row" th:object="${pizza}">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <!--Inserisco il fragment per il form-->
                        <div th:replace="~{fragments/resources :: form('/pizze/edit/{id}(id = *{id})', 'post')}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>